@font-face {
  font-family: 'big_noodle_titling';
  src: url("../fonts/big_noodle_titling.ttf"); }

@font-face {
  font-family: 'coolveticarg';
  src: url("../fonts/coolveticarg.ttf"); }

@font-face {
  font-family: 'BebasNeue';
  src: url("../fonts/BebasNeue.otf"); }

.mybar {
  background-color: #1A1A1A;
  font-family: "BebasNeue";
  color: #eaeaea;
  font-size: 1.2em; }

a {
  color: #eaeaea; }

.bar-tab .tab-item {
  color: #eaeaea;
  font-size: 1.1em; }

.content {
  background-color: #cccccc; }

.table-view-cell {
  padding: 20px 3px 20px 15px; }

.toggle.active {
  background-color: #FCB322;
  border: 2px solid #FCB322; }

.toggle.active .toggle-handle {
  border-color: #FCB322; }

.landingbg {
  max-width: 100vw;
  background-size: cover;
  background-repeat: no-repeat; }

.logo {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%; }

.bottomTabsVisual {
  font-family: "big_noodle_titling";
  color: black;
  background-color: #FCB322; }

.landingbar {
  font-size: 1.5em; }

.home_london {
  background: url("../images/home_london.svg") no-repeat; }

.home_paris {
  background: url("../images/home_paris.svg") no-repeat; }

.home_amsterdan {
  background: url("../images/home_amsterdan.svg") no-repeat; }

.home_rome {
  background: url("../images/home_rome.svg") no-repeat; }

.home_barcelona {
  background: url("../images/home_barcelona.svg") no-repeat; }

.home_istanbul {
  background: url("../images/home_istanbul.svg") no-repeat; }

.divHomePosition {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  float: left;
  width: 100%;
  height: 33.33333%;
  background-size: cover; }

.homeFont {
  font-family: "coolveticarg";
  color: #FCB322;
  overflow-wrap: normal;
  font-size: 3em;
  text-transform: uppercase; }

.cityLogo {
  height: 12vh; }

.divPosition {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  float: left;
  width: 50%;
  height: 33.33333%; }

.linkPosition {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center; }

.mainFont {
  font-family: "coolveticarg";
  color: #FCB322;
  overflow-wrap: normal;
  font-size: 1.55em; }

.darker {
  background-color: rgba(26, 26, 26, 0.7); }

.lighter {
  background-color: rgba(26, 26, 26, 0.5); }

.london {
  background-image: url("../images/londonbackground.svg");
  background-size: cover;
  background-repeat: no-repeat; }

.sliderImg {
  max-width: 100vw; }

.detail {
  background-color: #cccccc; }

.sliderpar {
  width: 100%;
  padding: 1.4em;
  margin-top: -1em; }

h2 {
  font-family: "BebasNeue";
  font-size: 25px;
  font-size: 1.8em;
  font-weight: 300; }

p {
  white-space: normal;
  line-height: 110%;
  font-size: 0.85em;
  font-family: "Arial", Helvetica, sans-serif;
  font-size: 12px; }

.more {
  font-family: "BebasNeue";
  font-size: 1.5em;
  color: black; }

.groupform {
  display: flex;
  width: 95%;
  margin: 0.2em; }

.element {
  flex-basis: 60%; }

.element:nth-last-child(-n+3) {
  margin-bottom: 0; }

.formfont {
  font-family: "BebasNeue";
  font-size: 1em;
  color: black; }
